.popup-main{
		height: 820rpx;
		// height: auto;
		padding: 10rpx 0;
		.head{
			display: flex;
			height: 60rpx;
			align-items: center;
			justify-content: space-between;
			padding: 0 30rpx;
			view{
				color: #333;
				font-size: 24rpx;
				&:last-child{
					color: rgb(60, 156, 255);
				}
			}
		}
		.content{
			margin-top: 20rpx;
		}
		.popup-box{
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			padding: 10rpx 30rpx;
			&.checked{
				background-color: #FFD200;
			}
			view{
				font-size: 28rpx;
			}
			text{
				font-size: 24rpx;
				color: #333;
				margin-top: 10rpx;
			}
		}
		.filter{
			.top{
				display: flex;
				height: 88rpx;
				align-items: center;
				justify-content: center;
				position: relative;
				color: #9E9E9E;
				font-size: 36rpx;
				font-weight: bold;
				line-height: 50rpx;
				.u-icon{
					position: absolute;
					right: 30rpx;
					top:24rpx;
				}
			}
			.filter-box{
				padding: 20rpx 30rpx;
				.name{
					font-size: 36rpx;
					color: #333;
					font-weight: bold;
					line-height: 50rpx;
					margin-bottom: 36rpx;
				}
				.attr{
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					.box{
						width: calc(calc(100% - 100rpx) / 3);
						height: 100rpx;
						line-height: 100rpx;
						border-radius: 12rpx;
						border: 1px solid #000;
						box-sizing: border-box;
						text-align: center;
						margin-bottom: 30rpx;
						&.checked{
							background-color: #FFD200;
						}
					}
				}
			}
			.btns{
				position: absolute;
				bottom: 54rpx;
				left: 0;
				width: 100%;
				height: 98rpx;
				display: flex;
				justify-content: space-between;
				padding: 0 30rpx;
				.btn{
					color: #FFD200;
					font-size: 36rpx;
					line-height: 50rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					flex: 1;
					&.sure{
						flex: auto;
						width: 474rpx;
						color: #333;
						border-radius: 12rpx;
						background-color: #FFD200;
					}
				}
			}
		}
	}